body {
  font-family: 'Spicy Rice', cursive;
}

.clock-widget {
  position: fixed;
  left: 25%;
  right: 25%;
  top: 3%;
  width: 600px;
  height: 200px;
  margin: auto;
  font-size: 30px;
}

.clock-widget h1:first-child {
  color: violet;
}


.clock {
  border: 1px solid black;
  padding: 15px;
  color: green;
  background-image: url('../images/Flavor-Flav.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.time, .date {
  display: flex;
  justify-content: space-between;
}
